.container {
  width: 550px;
  margin: 40px auto;
}

.title {
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
}

.todoWrapper {
  background: white;
  box-shadow:
    0 2px 4px rgba(0,0,0,.2),
    0 25px 50px rgba(0,0,0,.1);
}