* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}